.comboBlockContainer {
    background-color: var(--color-primary);
    height: 100vw;
    min-height: 800px;
    max-height: 906px;
    width: 23.39vw;
    right: 0;
    padding-top: 200px;
}

.description {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: -98px;
}

.description h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}

.description h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
}

.comboBlock {
    display: flex;
    position: absolute;
    height: 100%;
}

.slide {
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
    position: relative;
    width: 85vw;
    overflow: hidden;
}

.comboCard {
    background-color: #FFFFFF;
    width: 23.7vw;
}

.comboCard img {
    width: 23.7vw;
}

.comboCard:hover {
    box-shadow: 0 4px 24px rgba(205, 205, 205, 0.5);
}

.comboCard + .comboCard {
    margin-left: 2.14vw;
}

.comboCard .cardContent {
    margin: 42px 3vw 0px 3vw;
}

.comboCard .cost {
    display: flex;
    align-items: center
}

.cardContent .cost h2 {
    color: #C7A17A;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
}

.cardContent .cost s {
    color: #415167;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 16px;
}

.comboCard .cardContent h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    color: #232C38;
}

.comboCard .cardContent p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-top: 10px;
    margin-bottom: 32px;
}

.buttons {
    grid-area: cb;
    display: flex;
    justify-content: space-between;
    margin: 10px 10% 8px;
    align-items: flex-end;
}

.buttonLeftWrap {
    background-color: rgba(249, 251, 255, 0.65);
    height: 100%;
    position: absolute;
    padding-top: 232px;
    width: 7.286vw;
    left: 0;
    z-index: 1;
}

.buttonRightWrap {
    background-color: rgba(249, 251, 255, 0.65);
    width: 7.286vw;
    height: 100%;
    position: absolute;
    padding-top: 232px;
    right: -100vw;
    z-index: 1;
}

@media (max-width: 1176px) {

    .comboBlockContainer {
        background-color: var(--color-primary);
        /*height: 100vw;*/
        min-height: 700px;
        max-height: 850px;
        width: 23.39vw;
        right: 0;
        padding-top: 200px;
    }

    .cardContent {
        display: flex;
        flex-flow: column;
    }

    .cardContent button {
        margin-right: 0;
    }

    .buttons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-left: 5.5vw;
    }

    .comboCard .cardContent p {
        margin-bottom: 12px;
    }
}

@media (max-width: 862px) {
    .description {
        margin-right: 20vw;
    }

    .slide {
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
        column-gap: 3vw;
        padding-left: 6vw;
    }

    .comboCard {
        background-color: #FFFFFF;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    .comboCard img {
        grid-area: ci;
        width: 40vw;
        min-width: 170px;
    }

    .buttons {
        grid-area: cb;
        display: flex;
        margin: 10px 10% 8px;
    }

    .comboCard + .comboCard {
        margin-left: auto;
    }

    .comboCard .cardContent {
        grid-area: cc;
        margin: 2vw 3vw 2vw 3vw;
    }

    .comboCard .cost {
        display: flex;
        align-items: center
    }

    .cardContent .cost h2 {
        font-size: calc(19px + 1 * (100vw / 1400));
        line-height: 24px;
        margin-right: 20px;
    }

    .comboCard .cardContent h1 {
        font-size: calc(21px + 3 * (100vw / 1400));
        margin-top: 0vw;
    }

    .comboCard .cardContent p {
        font-size: calc(15px + 1 * (100vw / 1400));
        margin-top: 0vw;
        margin-bottom: 0vw;
    }
}

@media (max-width: 673px) {
    .buttons {
        grid-area: cb;
        display: flex;
        flex-direction: column;
        margin: 10px auto 8px;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .comboBlockContainer {
        min-height: 940px;
        max-height: 1020px;
    }

    .comboCard {
        display: flex;
        flex-direction: column;
    }
    .slide {
        padding-left: 5vw;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2vw;
        grid-column-gap: 5vw;
        margin-top: 0vw;
    }

    .description {
        margin-left: 10vw;
        width: 70vw;
    }

    .comboCard img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
        min-width: 170px;
    }
    .buttons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 3px;
        margin-bottom: 38px;
        height: 37px;
    }
}

@media (max-width: 303px) {
    .comboBlockContainer {
        min-height: 1070px;
    }
}