.basketModalWrapper {
    background-color: rgba(158, 198, 222, 0.68);
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    z-index: 9;
}

.basketModal {
    background-color: rgb(248, 248, 248);
    width: 70%;
    height: 80%;
    position: absolute;
    left: 15%;
    top: 10%;
    padding: 50px;
    display: flex;
    flex-flow: column;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
}

.close {
    overflow: hidden;
    position: fixed;
    right: 14.9%;
    top: 9.4%;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100%;
    color: #2d3748;
    font-size: 50px;
}

.close:hover {
    color: var(--color-text);
    rotate: 5deg;
}

.columnsNames {
    background-color: rgba(65, 81, 103, 0.72);
    color: #EDF0F5;
    position: fixed;
    margin-bottom: 10px;;
    z-index: 1;
    width: 64%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-left: -20px;
    margin-top: -50px;
    font-size: 25px;
    /*color: var(--color-primary);*/
    /*background-color: #ffffff;*/
    height: 40px;
    align-items: center;
    text-align: center;
}

.basketCard {
    margin-right: 20px;
    margin-left: 20px;
    width: 97%;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #ffffff;
    margin-bottom: 2px;
}

.basketCard:hover {
    box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
}

.removeItemBtn {
    position: absolute;
    margin-left: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
    cursor: pointer;
}

.removeItemBtn:hover {
    font-size: 23px;
}

.basketContent {
    display: flex;
    cursor: pointer;
}

.cardDescription {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.basketContent img {
    height: 100px;
    margin-right: 15px;
}

.basketContent h1 {
    color: #415167;
    font-size: 23px;
    margin-bottom: 10px;
}

.basketContent p {
    color: #50637e;
    font-size: 14px;
    background: #ffffff;
    /*padding: 1rem;*/
    /*width: 200px;*/
    height: 40px;
    overflow: hidden;
    position: relative;
}

.basketContent p:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #ffffff 50%);
}

.cost {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: #415167;
}

.cost h2 {
    color: var(--color-accent);
    font-size: 18px;
}

.counter {
    width: 145px;
    height: 50px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    display: flex;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.changeCountBtn {
    width: 44px;
    height: 44px;
    background-color: #f1f1f1;
    border-radius: 2px;
    color: var(--color-primary);
    padding: 7px 11px 7px 11px;
    margin: 2px;
    font-size: 24px;
    cursor: pointer;
}

.changeCountBtn:hover {
    color: var(--color-text);
    background: #E9E9E9;
}

.count {
    width: 44px;
    height: 44px;
    color: #EDF0F5;
    padding: 7px 11px 7px 11px;
    margin: 2px;
    background: var(--color-primary);
    border-radius: 2px;
}

.sumPrice {
    display: flex;
    margin: auto;
    color: var(--color-accent);
    font-size: 20px;
}

.buyWrap {
    background-color: var(--color-primary);
    /*height: 594px;*/
    width: 67vw;
    margin-top: -40px;
    margin-left: -30px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 240px 1fr;
}

.buyContainer {
    width: 500px;
    height: 180px;
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 65%;
}

.discount {
    margin-top: 10px;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}

.discount h3 {
    text-align: left;
    color: var(--color-accent);
    font-size: 18px;
}

.discount h2 {
    text-align: right;
    font-size: 18px;
    color: var(--color-accent);
}

.totalPrice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}

.totalPrice h3 {
    font-size: 18px;
    text-align: left;
}

.totalPrice h2 {
    text-align: right;
    font-size: 21px;
    font-weight: bolder;
}

.buyAll {
    background: var(--color-accent);
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 25px;
    color: #F9FBFF;
    margin: 20px 40px 50px 40px;
}

.buyAll:hover {
    background-color: var(--color-accent-hover);
    color: #FFFFFF;
}

.emptyBasket {
    opacity: 0.5;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



