.basketModalWrapper {
    background-color: var(--color-modal-background);
    width: 105vw;
    height: 105vh;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    z-index: 9;
}

.basketModal {
    background-color: var(--color-modal);
    width: 85%;
    height: 80%;
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 50px 5.8vw 30px 3.57vw;
    display: flex;
    flex-flow: column;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
}

.close {
    color: var(--color-primary);
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100%;
    font-size: 50px;
}

.close:hover {
    color: var(--color-text);
    rotate: 5deg;
}

.basketCard {
    background-color: var(--color-text-contrast-hover);
    margin-right: 20px;
    margin-left: 20px;
    width: 97%;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-bottom: 2px;
}

.basketCard:hover {
    box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
}

.removeItemBtn {
    position: absolute;
    margin-left: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
    cursor: pointer;
}

.removeItemBtn:hover {
    font-size: 23px;
}

.basketContent {
    display: flex;
    cursor: pointer;
}

.cardDescription {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.basketContent img {
    height: 100px;
    margin-right: 15px;
}

.basketContent h1 {
    color: #415167;
    font-size: 20px;
    margin-bottom: 10px;
}

.basketContent p {
    background: var(--color-text-contrast-hover);
    color: var(--color-primary);
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.basketContent p:after {
    background: linear-gradient(180deg, transparent, #ffffff 50%);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.cost {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.cost h2 {
    color: var(--color-accent);
    font-size: 18px;
}

.counter {
    border: 1px solid #EEEEEE;
    width: 145px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.changeCountBtn {
    background-color: #f1f1f1;
    color: var(--color-primary);
    width: 44px;
    height: 44px;
    border-radius: 2px;
    padding: 7px 11px 7px 11px;
    margin: 2px;
    font-size: 24px;
    cursor: pointer;
}

.changeCountBtn:hover {
    background: var(--color-contrast);
    color: var(--color-text);
}

.count {
    background: var(--color-primary);
    color: var(--color-contrast);
    width: 44px;
    height: 44px;
    padding: 7px 11px 7px 11px;
    margin: 2px;
    border-radius: 2px;
}

.sumPrice {
    color: var(--color-accent);
    display: flex;
    margin: auto;
    font-size: 20px;
}

.buyWrap {
    background-color: var(--color-primary);
    width: 67vw;
    max-width: 900px;
    margin-top: -40px;
    margin-left: -30px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 240px 1fr;

}

.buyContainer {
    background-color: var(--color-text-contrast-hover);
    width: 60vw;
    max-width: 900px;
    height: 180px;
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
    margin-left: 50%;
}

.discount {
    margin-top: 10px;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}

.discount h3 {
    color: var(--color-accent);
    text-align: left;
    font-size: 18px;
}

.discount h2 {
    color: var(--color-accent);
    text-align: right;
    font-size: 18px;
}

.totalPrice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}

.totalPrice h3 {
    font-size: 18px;
    text-align: left;
}

.totalPrice h2 {
    color: var(--color-text);
    text-align: right;
    font-size: 21px;
    font-weight: bolder;
}

.buyAll {
    background: var(--color-accent);
    color: var(--color-text-contrast);
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 25px;
    display: flex;
    margin: 20px auto 50px auto;
    padding-left: 79px;
    align-items: center;
}

.buyAll:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-text-contrast-hover);
}

.emptyBasket {
    opacity: 0.5;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media (max-width: 600px) {
    .close {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        right: 5vw;
        top: 0;
    }
    .basketModal {
        width: 105vw;
        height: 105vh;
        left: 0;
        top: 0;
        padding: 60px 5.8vw 30px 5.8vw;
    }

    .basketContent {
        grid-area: bc;
    }

    .cost{
        grid-area: cs;
    }

    .counter{
        grid-area: cn;
    }

    .sumPrice{
        grid-area: sp;
    }
    .basketCard {
        display: grid;
        grid-template-areas:
      "bc bc bc bc"
      "cs cn sp sp";
        grid-row-gap: 10px;
        grid-column-gap: 2vw;
    }

    .buyContainer {
        width: 75vw;
        display: flex;
        flex-direction: column;
        margin-left: 18vw;
    }
    .buyAll {
        width: 200px;
        margin: 20px auto 20px auto;
        display: flex;
        padding-left: 79px;
        align-items: center;
    }
}