.infoModalWrapper {
    background-color: #1086ce;
    text-align: center;
    width: 40vw;
    margin:2vh auto;
    position: absolute;
    z-index: 9;
}

.infoModal {

}

.info {

}

h2 {

}

h4 {

}

h1 {

}

h3 {

}

p {

}