.infoModalWrapper {
    background-color: var(--color-modal-background);
    text-align: center;
    z-index: 9;
    width: 105vw;
    height: 105vh;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
}

.infoModal {
    background-color: var(--color-modal);
    color: var(--color-primary);
    width: 80vw;
    position: absolute;
    padding: 3.57vw 50px 3.57vw 3.57vw;
    cursor: default;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100%;
    color: #2d3748;
    font-size: 50px;
}

.close:hover {
    color: var(--color-text);
    rotate: 5deg;
}

.cardWrapper {
    display: grid;
    grid-template-areas:
      "cim cin cin cin"
      "cim cp cp cp"
      "cim cb cb cb";
}

.cardInfo {
    width: 42vw;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 1.43vw;
    grid-area: cin;
    word-wrap: break-word;
}

.cardWrapper .cardImage {
    width: 20vw;
    height: 20vw;
    max-width: 280px;
    min-width: 200px;
    min-height: 200px;
    max-height: 280px;
    grid-area: cim;
}

.properties {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-area: cp;
}

.property {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 220px;
}

.properties img {
    padding-left: 2.23vw;
}

.properties h4 {
    /*color: var(--color-primary);*/
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.properties h3 {
    /*color: var(--color-primary);*/
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

h2 {
    color: var(--color-accent);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.infoModal h4 {
    /*color: var(--color-primary);*/
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.infoModal h1 {
    /*color: var(--color-primary);*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 34px;
}

.infoModal h3 {
    /*color: var(--color-primary);*/
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.infoModal p {
    color: var(--color-text);
    margin-top: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    position: relative;
}

.infoModal .buttons {
    padding-top: 20px;
    display: flex;
    margin: auto;
    grid-area: cb;
}

@media (max-width: 840px) {
    .cardWrapper {
        display: grid;
        grid-template-areas:
      "cim cin cin cin"
      "cp cp cp cp"
      "cb cb cb cb";
    }
}


@media (max-width: 600px) {
    .close {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        right: 0vw;
        top: 0vh;
    }

    .infoModal {
        width: 90vw;
        padding: 3.57vw 50px 3.57vw 3.57vw;
    }

    .cardWrapper {
        display: grid;
        grid-template-areas:
      "cim cin cin cin"
      "cp cp cp cp"
      "cb cb cb cb";
    }

    .cardInfo {
        margin-top: 30px;
        word-wrap: break-word;
    }

    .cardWrapper .cardImage {
        width: 30vw;
        height: 30vw;
        min-width: 150px;
        min-height: 150px;
    }
}

@media (max-width: 493px) {
    .infoModal {
        width: 105vw;
        height: 105vh;
        padding: 3.57vw 3.57vw 3.57vw 3.57vw;
        max-height: none;
    }

    .close {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        right: 5vw;
        top: 0;
    }

    .cardWrapper {
        display: grid;
        grid-template-areas:
      "cim cim cim cim"
      "cin cin cin cin"
      "cp cp cp cp"
      "cb cb cb cb";
    }

    .cardWrapper .cardImage {
        margin-top: 50px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 83vw;
        height: 83vw;
        min-width: 150px;
        min-height: 150px;
    }

    .cardInfo {
        width: 83vw;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        text-align: justify;
        padding-left: 5vw;
        word-wrap: break-word;
    }

    .properties {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding-left: 10vw;
        grid-row-gap: 8px;
    }
}