.giftsetWrapper {
    height: 802px;
}

.giftsetBlock {
    position: absolute;
    width: 1076px;
    height: 803px;
    left: -2px;
    background: #EDF0F5;
}

.desctiption {
    position: relative;
    left: 584px;
    top: 86px;
    right: auto;
    margin-bottom: 66px;
    text-align: center;
    width: 224px;
    height: 62px;
}

.desctiption h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}

.desctiption h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
}

.slider {
    margin-top: 154px;
    margin-left: 1180px;
}

.giftCard {
    background-color: #FFFFFF;
    width: 794px;
    height: 460px;
    position: absolute;
    left: 386px;
    top: 216px;
    display: flex;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5)
}

.giftImage {
    margin-left: -256px;
}

.cardContent {
    padding: 64px;
}

.cardContent h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
}

.cardContent h1 {
    color: #232C38;
    margin-top: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.cardContent p {
    color: #151D28;
    margin-top: 12px;
    width: 430px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.giftProperties {
    display: flex;
    margin-top: 24px;
    margin-bottom: 46px;
}

.giftProperties .property {
    display: flex;
}

.giftProperties h4 {
    color: #415167;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.giftProperties h3 {
    color: #415167;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.pages {
    display: flex;
    flex-flow: column wrap;
}

.pages button {
    background-color: rgba(237, 240, 245, 0.3);
    color: rgba(65, 81, 103, 0.3);
    margin-left: 2px;
    cursor: pointer;
    padding: 62px 33px 58px 36px;
    width: 88px;
    height: 154px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
}

.pages button:hover {
    background-color: rgba(237, 240, 245, 0.15);
    color: rgba(65, 81, 103, 0.4);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
}

.pages button.active {
    background-color: #FFFFFF;;
    color: var(--color-primary);
}