button {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

}

.buy {
    background: var(--color-accent);
    border-radius: 19px;
    color: #F9FBFF;
    padding: 7px 15px 7px 17px;
    margin-right: 1.2857vw;
    /*margin-bottom: 5px;*/
    height: 32px;

}

.buy:hover {
    background-color: var(--color-accent-hover);
    color: #FFFFFF;
    /*height: 32px;*/

}

.info {
    border-radius: 19px;
    color: var(--color-primary);
    padding: 7px 11px 7px 11px;
    height: 32px;
}

.info:hover {
    color: var(--color-text);
    background-color: #f1f1f1;
}

.arrow {
    background-color: var(--color-accent);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 15px 12px 16px 12px;
    display: flex;
}

.arrow.left {
    margin-left: 5.29vw;
}

.arrow.right {
    margin-left: -1.143vw;
}

.arrow.left img {
    transform: rotate(180deg);
}

.arrow:hover {
    background-color: var(--color-accent-hover);
}