.header {
    /*display: inline-flex;*/
    display: flex;
    max-width: 1400px;
    width: 100vw;
}

.container {
    background-image: url("../../img/background.svg");
    background-repeat: no-repeat;
    height: 768px;
    width: 1100px;
    padding-left: 145px;
    padding-top: 70px;
}

.container h1 {
    color: var(--color-primary);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
/*position: absolute;*/
    /*z-index: 10;*/

}

.logo {
    padding-bottom: 392px;
}

h1.backgrounded {
    background-color: var(--color-accent);
    color: #F9FBFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    margin-left: -15px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.basket {
    margin-top: 72px;
    margin-bottom: 118px;
    display: flex;
}

.basket svg {
    fill: #F9FBFF;
}

.basket:hover svg {
    fill: var(--color-second-hover);
}

.basket .counter {
    background-color: var(--color-accent);
    color: #F9FBFF;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: -11px;
    margin-left: -8px;
}

.basket:hover .counter {
    background-color: var(--color-accent-hover);
    color: white;
}

.nav {
    color: var(--color-contrast);
    background-color: var(--color-primary);
    width: 335px;
    height: 768px;
    padding-left: 4vw;
    /*padding-left: 56px;*/
    overflow: hidden;
    /*min-width: 810px;*/
}

ul li {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    min-width: 810px;

}

ul li a:hover {
    color: var(--color-accent);
    cursor: pointer;
    transition: all .15s;
}

ul li p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}