.header {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    width: 105vw;
    height: 768px;
    position: relative;
    max-width: 1400px;
}

.container {
    padding-left: 10.36%;
    padding-top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: calc(24px + 30 * (100vw / 1400));
    line-height: 70px;
    position: absolute;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 28.1%;
    right: 0;
    width: 691px;
    margin-left: 40px;
}

.container h1 {
    color: var(--color-primary);
}

.logo {
    padding-bottom: 392px;
}

h1.backgrounded {
    background-color: var(--color-accent);
    color: var(--color-text-contrast);
    margin-left: -15px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.basket {
    margin-top: 72px;
    margin-bottom: 118px;
    display: flex;
}

.basket svg {
    fill: var(--color-text-contrast);
}

.basket:hover svg {
    fill: var(--color-second-hover);
}

.basket .counter {
    background-color: var(--color-accent);
    color: var(--color-text-contrast);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: -11px;
    margin-left: -8px;
}

.basket:hover .counter {
    background-color: var(--color-accent-hover);
    color: var(--color-text-contrast-hover);
}

.nav {
    color: var(--color-contrast);
    background-color: var(--color-primary);
    min-width: 200px;
    width: 23.92857vw;
    height: 768px;
    padding-left: 4vw;
    overflow: hidden;
    position: absolute;
    right: -2px;
    z-index: 3;
    max-width: 300px;
}

ul li {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    min-width: 810px;
}

ul li a:hover {
    color: var(--color-accent);
    cursor: pointer;
    transition: all .15s;
}

ul li p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .header {
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100vw;
        height: 600px;
        position: relative;
    }

    .container {
        padding-left: 4vw;
        padding-top: 4vw;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: calc(24px + 30 * (100vw / 1400));
        line-height: 70px;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .text {
        width: max-content;
        padding-right: 12px;
    }

    h1.backgrounded {
        margin-left: -15px;
        display: inline-block;
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .background {
        position: absolute;
        top: 0;
        left: 22vw;
        width: 540px;
        margin-left: 40px;
    }

    .logo {
        padding-bottom: 300px;
        width: 20vw;
        min-width: 100px;
    }

    .nav {
        height: 400px;
    }

    .basket {
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
    }
}

@media (min-width: 1930px) {
    .text {
        width: max-content;
        padding-right: 12px;
    }

    h1.backgrounded {
        margin-left: -15px;
        display: inline-block;
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}
