.footer {
    background-color: var(--color-contrast);
    padding: 18px 20px;
}

.footer h3{
    color: var(--color-primary);
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}