.sliderBlock {
    background-color: var(--color-primary);
    width: 27vw;
    height: 894px;
    margin-top: 128px;
    padding-top: 240px;
    margin-bottom: 0;
    max-width: 1400px;
}

.sliderInfo {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-style: normal;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-bottom: 232px;
    /*max-width: 1400px;*/
}

.sliderInfo h2 {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}

.sliderInfo h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
}

.slider {
    display: flex;
    position: absolute;
    height: 100%;
}

.slide {
    display: grid;
    grid-auto-flow: column;
    padding-left: 9%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2.14%;
    grid-row-gap: 32px;
    /*width: 91vw;*/
    overflow: hidden;
}

.card {
    background-color: #FFFFFF;
    width: 39.92vw;
    display: grid;
    grid-template-areas:
      "ci ci ci cc cc"
      "ci ci ci cb cb";
    max-width: 559px;
}

.card img {
    width: 16.86vw;
    min-width: 140px;
    grid-area: ci;
    max-width: 236px;
}

.card:hover {
    box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
}

.cardContent {
    padding: 42px 2.93vw 0 2.93vw;
    grid-area: cc;
    margin-bottom: 18px;
}

.card h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-accent);
}

.card h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-top: 8px;
}

.card p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-top: 24px;
}

.buttons {
    grid-area: cb;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    height: 37px;
}

.buttonLeftWrap {
    background-color: rgba(249, 251, 255, 0.65);
    width: 6.7143vw;
    max-width: 94px;
    position: absolute;
    height: 100%;
}

.buttonRightWrap {
    background-color: rgba(249, 251, 255, 0.65);
    width: 6.7143vw;
    max-width: 94px;
    position: absolute;
    right: 0vw;
    height: 100%;
}

@media (max-width: 1203px) {
    .sliderBlock {
        height: 794px;
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }

    .buttons {
        position: relative;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

@media (max-width: 1043px) {
    .sliderBlock {
        height: 800px;
    }

    .card {
        display: grid;
        grid-template-areas:
      "ci ci ci cc cc"
      "ci ci ci cb cb";
        min-height: 210px;
    }

    .card p {
        margin-top: 5px;
    }

    .buttons {
        flex-direction: column;
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }
}

@media (max-width: 862px) {
    .sliderInfo {
        margin-left: 30px;
    }

    .card h2 {
        font-size: 18px;
    }

    .card h1 {
        font-size: 22px;
        margin-top: 3px;
    }

    .card {
        display: grid;
        grid-template-areas:
      "ci ci cc cc cc"
      "cb cb cb cb cb";
    }

    .card p {
        margin-top: 5px;
        font-size: 15px;
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }

    .buttons {
        position: relative;
        margin-top: 4%;
        margin-bottom: 4%;
        display: grid;
        grid-column-gap: 2vw;
        grid-template-columns: 1fr 1fr;
    }

    .card button {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width: 813px) {
    .sliderBlock {
        margin-top: 45px;
    }
}

@media (max-width: 680px) {
    .sliderBlock {
        height: 1040px;
    }

    .sliderInfo {
        margin-right: 5vw;
        margin-left: 12vw;
        width: 71vw;
    }

    .slide {
        margin-top: 3vw;
    }

    .card {
        display: grid;
        grid-template-areas:
      "ci"
      "cc"
      "cb ";
        height: auto;
    }

    .buttons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 3px;
        margin-bottom: 38px;
        height: 37px;
    }

    .card img {
        display: flex;
        margin: auto;
    }

}
