.sliderBlock {
    background-color: var(--color-primary);
    width: 27vw;
    height: 894px;
    margin-top: 128px;
}

.sliderInfo {
    position: absolute;
    text-align: center;
    flex-direction: column;
    left: 50%;
    margin-top: 95px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sliderInfo h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}

.sliderInfo h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
}

.slide {
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    padding-left: 9vw;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2.14vw;
    grid-row-gap: 32px;
    padding-top: 169px;
    width: 91vw;
    overflow: hidden;
}

.card {
    background-color: #FFFFFF;
    width: 39.92vw;
    display: grid;
    grid-template-areas:
      "ci ci ci cc cc"
      "ci ci ci cb cb";
}

.card img {
    width: 16.86vw;
    min-width: 140px;
    grid-area: ci;
}

.card:hover {
    box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
}

.cardContent {
    padding: 42px 2.93vw 0 2.93vw;
    grid-area: cc;
    margin-bottom: 18px;
}

.card h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-accent);
}

.card h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-top: 8px;
}

.card p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-top: 24px;
}

.buttons {
    grid-area: cb;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    height: 37px;

}

.buttonLeftWrap {
    background-color: rgba(255, 255, 255, 0.24);
    width: 6.7143vw;
    /*height: calc(100% + 95px);*/
    height: 544px;
    /*height: 544px;*/
    position: absolute;
    margin-top: 219px;
}

.buttonRightWrap {
    background-color: rgba(255, 255, 255, 0.6);
    width: 6.7143vw;
    height: 544px;
    position: absolute;
    margin-top: 219px;
    left: 93.286vw;
}

@media (max-width: 1203px) {

    .sliderBlock {
        /*background-color: var(--color-primary);*/
        /*width: 27vw;*/
        height: 754px;
        /*margin-top: 128px;*/
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }

    .buttons {
        position: relative;
        margin-top: 4%;
        margin-bottom: 4%;
    }


    .buttonLeftWrap {

        height: calc(100% - 95px);

    }

    .buttonRightWrap {

        height: calc(100% - 95px);

    }

}

@media (max-width: 1043px) {
    .card {
        display: grid;
        grid-template-areas:
      "ci ci ci cc cc"
      "ci ci ci cb cb"
      "ci ci ci cb cb"
      "ci ci ci cb cb"
      "ci ci ci cb cb"
      "ci ci ci cb cb"
      "ci ci ci cb cb"
    ;
        min-height: 210px;
    }

    .card p {
        margin-top: 5px;
    }

    .buttons {
        flex-direction: column;
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }

}


@media (max-width: 842px) {

    .sliderBlock {
        margin-top: 12%;
    }

    .sliderInfo {
        margin-left: 30px;
    }

    .card h2 {
        font-size: 18px;
    }

    .card h1 {
        font-size: 22px;
        margin-top: 3px;
    }


    .card {
        display: grid;
        grid-template-areas:
      "ci ci cc cc cc"
      "cb cb cb cb cb";
    }

    .card p {
        margin-top: 5px;
        font-size: 15px;
    }

    .cardContent {
        padding: 4% 4% 0 6%;
        margin-bottom: 0;
    }

    .buttons {
        position: relative;
        margin-top: 4%;
        margin-bottom: 4%;
        flex-direction: row;

    }

    .card button {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

}